/*==============================================================
# Onboarding
==============================================================*/

div[data-onboard] {
	position: relative;
	&.active-step {
		z-index: 4 !important;
		transition: .3s ease all;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 1;
		}
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background: white;
		transition: .3s ease all;
		z-index: -1;
	}
}
.active-onboarding {
	.onboarding-overlay {
		opacity: .3;
	}
}
.onboarding-instruction {
	opacity: 0;
	transition: .3s ease all;
	.step-controls {
		float: right;
	}
	.finished-button {
		display: none;
	}
	.previous-button,
	.next-button {
		display: inline-block;
	}
}
.disable-previous {
	.onboarding-instruction {
		.previous-button {
			display: none;
		}
	}

}
.disable-next {
	.onboarding-instruction {
		.next-button {
			display: none;
		}
		.finished-button {
			display: inline-block;
		}
	}

}
.onboarding-instruction {
	opacity: 1;
	position: absolute;
	width: 400px;
	height: 400px;
	background: white;
	border: 1px solid gray;
	z-index: 5;
	.close-button {
		position: absolute;
		top: 0;
		right: 0;
	}
}
.onboarding-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 2;
	background: black;
	opacity: 0;
	transition: .3s ease all;
}