/* ==============================================================
# Posisitioning
============================================================== */

/* Clear inner floats*/
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf{
  *zoom: 1;
}